<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html, body {
            font-family: sans-serif;
            width: 100vw;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        table {
            border: 1px solid #333;
            width: 50%;
            text-align: center;
            margin: 2rem auto;
        }

        td, th {
            border: 1px solid #333;
        }
    </style>
</head>

<body>
    <h1>Stats</h1>
    <table>
        <thead>
            <tr>
                <th colspan="3">Boards</th>
            </tr>
            <tr>
                <th>id</th>
                <th>board_uid</th>
                <th>group_id</th>
            </tr>
        </thead>
        <tbody>
            {% for board in boards %}
            <tr>
                <td>{{ board.id }}</td>
                <td>{{ board.board_uid }}</td>
                <td>{{ board.group_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th colspan="4">Groups</th>
            </tr>
            <tr>
                <th>id</th>
                <th>level</th>
                <th>name</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.level }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
